doctype html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    // STYLES
    link(rel="stylesheet", href="/vendor/material-design-lite/material.min.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

  body
    #page

    // DEPENDENCIES
    script(src="/js/dependencies/core/jquery/jquery.min.js")
    script(src="/js/dependencies/core/handlebars/handlebars.js")
    script(src="/js/dependencies/core/underscore/underscore.js")
    script(src="/js/dependencies/core/backbone/backbone.js")
    script(src="/js/dependencies/sails.io.js")
    // END DEPENDENCIES

    // TEMPLATES
    script(type="text/javascript", src="/templates/components/button/primary.js")
    script(type="text/javascript", src="/templates/components/first.js")
    script(type="text/javascript", src="/templates/components/text/input.js")
    script(type="text/javascript", src="/templates/pages/home.js")
    script(type="text/javascript", src="/templates/pages/index.js")
    script(type="text/javascript", src="/templates/pages/temp.js")
    script(type="text/javascript", src="/templates/sections/buttons.js")
    script(type="text/javascript", src="/templates/sections/text.js")
    // TEMPLATES END

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/vendor/material-design-lite/material.min.js")
    script(src="/vendor/moment/moment.js")
    script(src="/js/libs/collection.js")
    script(src="/js/libs/handlebars_helpers.js")
    script(src="/js/libs/model.js")
    script(src="/js/libs/string.js")
    script(src="/js/libs/view.js")
    script(src="/js/application/application.js")
    script(src="/js/application/init.js")
    script(src="/js/application/models/model.obj.js")
    script(src="/js/application/collections/collection.obj.js")
    script(src="/js/application/components/button/primary.js")
    script(src="/js/application/components/first.js")
    script(src="/js/application/components/text/input.js")
    script(src="/js/application/pages/home.js")
    script(src="/js/application/pages/index.js")
    script(src="/js/application/pages/temp.js")
    script(src="/js/application/routers/router.js")
    script(src="/js/application/sections/buttons.js")
    script(src="/js/application/sections/inputs.js")
    script(src="/js/application/sections/text.js")
    // SCRIPTS END
