doctype html
html
  head


    // STYLES
    link(rel="stylesheet", href="/vendor/bootstrap/bootstrap-theme.css")
    link(rel="stylesheet", href="/vendor/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/vendor/font-awesome/font-awesome.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

  body

    h2 Let's Party
    
    if party
      div 
        = party



    // TEMPLATES
    
    // TEMPLATES END

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/core/jquery/jquery.min.js")
    script(src="/js/dependencies/core/underscore/underscore.js")
    script(src="/js/dependencies/core/backbone/backbone.js")
    script(src="/vendor/bootstrap/bootstrap.js")
    script(src="/vendor/moment/moment.js")
    // SCRIPTS END