doctype html
html
  head

    link(rel='stylesheet', href='/styles/importer.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js')
    script(type='text/javascript', src='http//underscorejs.org/underscore-min.js')
    script(src='/js/dependencies/sails.io.js')

  body

    h2 Let's Party