<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'sections/buttons'}}
  </div>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'sections/text'}}
  </div>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'sections/toggles'}}
  </div>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'components/card/main' data=card}}
  </div>
</div>
