<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h5>
      Buttons
    </h5>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone'>
        {{view 'components/button/primary' data=components.first_button}}
      </div>
      <div class='mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone'>
        {{view 'components/button/primary' data=components.second_button}}
      </div>
      <div class='mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone'>
        {{view 'components/button/primary' data=components.third_button}}
      </div>
    </div>

    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--3-col'>
        {{view 'components/text/input' data=components.input_one}}
      </div>
    </div>

  </div>
</div>
