<div class='mdl-cell--hide-phone'>
  <table class='{{display.class}}'>
    <thead>
      <tr>
        {{#each display.columns}}
        <th class='mdl-data-table__cell--non-numeric'>
          {{this}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class='mdl-cell--hide-desktop mdl-cell--hide-tablet'>
  phone
</div>
