<div class='mdl-cell--hide-phone'>
  <table class='mdl-data-table mdl-shadow--2dp'>
    <thead>
      <tr>
        {{#if data.selectable}}
        <th>
          {{view 'components/toggle/checkbox' data=components.checkbox}}
        </th>
        {{/if}}
        {{#each display.columns}}
        <th class='mdl-data-table__cell--non-numeric'>
          {{this}}
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class='mdl-cell--hide-desktop mdl-cell--hide-tablet'>
  phone
</div>
