<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    {{view 'components/slider/main' data=components.slider_one}}
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    {{view 'components/slider/main' data=components.slider_two}}
  </div>
</div>
