<h5>
  Toggles
</h5>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--2-col'>
    {{view 'components/toggle/checkbox' data=components.checkbox_one}}
  </div>
  <div class='mdl-cell mdl-cell--2-col'>
    {{view 'components/toggle/checkbox' data=components.checkbox_two}}
  </div>
</div>
