{{#if _isChecked}}
<input type='checkbox' id='{{display.id}}' class='mdl-checkbox__input' checked>
{{else}}
<input type='checkbox' id='{{display.id}}' class='mdl-checkbox__input'>
{{/if}}
<span class='mdl-checkbox__label'>
  {{display.label}}
</span>
