{{#if _isChecked}}
<input type='checkbox' id='{{display.id}}' class='mdl-switch__input' checked>
{{else}}
<input type='checkbox' id='{{display.id}}' class='mdl-switch__input'>
{{/if}}
<span class='mdl-switch__label material-icons'></span>
